

canvas {
  // border: 4px solid black;
  // border-radius: 5px;

    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto;
    display:inline;
    background-image: url(images/krustykrab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


body {
font-family: 'Chewy', cursive;
display:inline;
background-color:#8CC1D9;
// #6AAECD;

font-size: 30px;

}


.gameInfo {

padding-left: 35px;
  color: white;
}
